arabic-reshaper==3.0.0
asgiref==3.11.0
asn1crypto==1.5.1
attrs==25.4.0
black==22.12.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
crispy-bootstrap5==0.7
cryptography==46.0.3
cssselect2==0.8.0
Deprecated==1.3.1
Django==4.2.20
django-browser-reload==1.21.0
django-cors-headers==4.9.0
django-crispy-forms==1.14.0
django-extensions==3.2.3
django-filter==23.5
django-jet-reboot==1.3.10
django-model-utils==4.3.1
django-modeltranslation==0.18.11
django-tailwind==4.4.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.29.0
factory_boy==3.3.1
Faker==38.2.0
gopay==2.0.1
html5lib==1.1
idna==3.11
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lxml==6.0.2
mypy_extensions==1.1.0
oscrypto==1.3.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.1
pycparser==2.23
pydantic==1.10.24
pyHanko==0.32.0
pyhanko-certvalidator==0.29.0
PyJWT==2.10.1
pypdf==6.4.0
pytailwindcss==0.3.0
python-bidi==0.6.7
python-decouple==3.8
python-dotenv==1.2.1
pytz==2022.7
PyYAML==6.0.3
referencing==0.37.0
reportlab==4.0.4
requests==2.32.5
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.4
stripe==5.5.0
svglib==1.5.1
tinycss2==1.5.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritemplate==4.2.0
uritools==5.0.0
urllib3==2.5.0
user-agents==2.2.0
webencodings==0.5.1
whitenoise==6.2.0
wrapt==2.0.1
xhtml2pdf==0.2.15
