{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}DjangoSMS{% endblock title %}</title>

    <!-- Google Fonts - Inter with Vietnamese support -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/favicon_new.jpg' %}" type="image/x-icon">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-6.5.1/css/all.min.css' %}">

    <!-- Bootstrap5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">

    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    {% block header %}{% endblock %}
</head>

<body>
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock %}

    {% block maincontent %}
    <div id="main">
        {% block topbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>

    </div>
    {% endblock %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% if user.is_authenticated %}
        {% if request.resolver_match.url_name != 'quiz_take' %}
            {% include 'snippets/chatbot_widget.html' %}
            <script type="text/javascript" src="{% static 'js/chatbot.js' %}"></script>
        {% endif %}
    {% endif %}

    {% block js %}
    {% endblock js %}
</body>

</html>
